h1{
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25px;
}
nav ul {
  background-color: darksalmon;
  display: inline-block;
  border-style: solid;
  border-color: aquamarine;
  border-radius: 10px;
  margin-left: 50px;
  max-width: 700px;
}
nav ul li{
 color: black;
 font-size: 12px;
 display: inline-block;
 padding-right: 45px;
 padding-left: 45px;
 padding-bottom: 10px;
 padding-top: 10px;
}
nav ul li a {
    color: blueviolet;
   
}

img{
    border-color: black;
    border-radius: 10px 10px;
        margin-left: 15%;

}
iframe{
    margin-left: 60px;
    width: 1000px;
    height: 500px;
    border: 7px;
    border-color: black;
    border-radius: 4px;
    border-style: solid;
}
.yassin{
    margin-left: 25px;
}
body{
    background-color: azure;
}
.khan{
    margin-left: 15%;
    
}
.pyramids{
    margin-left: 15%;
    
}
table , th , td{
    border: 3px solid sandybrown;
    border-collapse: collapse;
    margin-left: 40px;
}
tr{
        background-color: greenyellow;
}
th, td{
   text-align: left;
   vertical-align: top;
   color: blueviolet;
   padding: 5px;
}
